.cabinet-wrapper
    background: #2b2a2a
    width: 100%
    min-height: 750px
    height: 100%
    position: relative
.header-cabinet
    max-width: 100%
    background-color: #1b1a1a
    position: relative
    display: flex
    justify-content: flex-end
    padding: 10px
    .users-data-wrapper
        display: flex
        align-items: center
        width: 250px
        
        justify-content: space-evenly
        h3
            color: #fff
        img
            width: 30px
            height: 30px
            cursor: pointer
            &:hover
                transform: scale(1.1)
        